{% extends 'www/_base.html' %}
{% load bootstrap4 %}
{% load notices %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h5>Please log into your account.</h5>
                </div>
                <div class="card-body">
                    <form method="post" {% if next %}action="?next={{next}}"{% endif %}>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
